<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height=30 align=center>
            <font name="hs16" color="fca503">Service</font>
        </td>
    </tr>
    <tr>
        <td height=30 height=30>
            <button value="Teleport" action="bypass teleport;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="Buffer" action="bypass buffer;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="Shop" action="bypass shop;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30 align=center>
            <font name="hs16" color="fca503">Character</font>
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="Class" action="bypass class;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="My Achievements" action="bypass achievement;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="Settings" action="bypass settings;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30 align=center>
            <font name="hs16" color="fca503">Items</font>
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="Augment" action="bypass augment;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="Warehouse" action="bypass warehouse;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>
    <tr>
        <td height=30>
            <button value="Raidboss" action="bypass raidboss;homepage" width=140 height=30
                    back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
        </td>
    </tr>

</table>