<table border="1" cellpadding="0" cellspacing="0">
  <tr>
    <td width="150" align="center">
      <button value="Castles Status" action="bypass clan;homepage castle" width=140 height=30
              back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
    </td>
    <td width="150" align="center">
      <button value="Fortresses Status" action="bypass clan;homepage fortress" width=140 height=30
              back="L2UI_ct1.button_df_down" fore="L2UI_ct1.button_df">
    </td>
  </tr>
</table>